<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.sanatisharif.android.konkur96.app">

    <application
        android:name="ir.sanatisharif.android.konkur96.app.AppConfig"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ala_ok"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">
        <activity
            android:name="ir.sanatisharif.android.konkur96.activity.SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--<meta-data-->
            <!--tools:replace="android:value"-->
            <!--android:name="io.fabric.ApiKey"-->
            <!--android:value="@string/" />-->

    </application>
</manifest>
